#div-main-graph {
    left: 34%;
    position: fixed;
}

/* temporary */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node text {
    font: 10px sans-serif;
    pointer-events: none;
}

.node circle {
      fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

code {
    margin: 2px;
}