.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.astree_ok_1772723 {
      position: absolute;
      left: 50px;
      top: 10px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node circle {
  fill: #fff;
  opacity: 1;
  stroke: grey;
  stroke-width: 1.5px;
}


.node circle.active {
  stroke: black;
  stroke-width: 2px;
  stroke: black;
}

.node circle.tr_results_ok {
   fill: green;
}

.node circle.tr_results_fail {
   fill: red;
}

.node circle.tr_results_mix {
   fill: orange;
}

.centernode circle {
   fill: black;
   stroke: black;
   opacity: 0;
}

.rootnode circle {
  fill: black;
  stroke: black;
  opacity: 1;
  stroke-width: 1.5px;
}

.node {
  font: 8px sans-serif;
}

.rootnode {
   font: 14px sans-serif;
   fill: black;
}

.link {
  fill: none;
  stroke: #ddd;
  stroke-width: 1px;
}

.link.active {
  stroke: black;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.rootlink_undefined {
   opacity: 0;
}

.rootlink_fail {
   stroke-dasharray: 5,5;
}

.hovertext {
   stroke: purple;
   font: 20px sans-serif;
   overflow-y: scroll;
   max-height:50%;
}

.tooltip {
   position: absolute;
   background: white;
   border: 1px black solid
}

.linktext {
   color:red;
   text-decoration:underline;
}

pre.tracedetail {
   font-size: 60%;
}

.experimental {
   background-image: url(http://albatross.ripe.net/demo-area/v6reachability4lirs/experimental-bg.png);
}