{% extends "layout.html" %}
{% block content %}

    <div class="container-fluid">
        <!-- Main graph -->
        <div class="row">
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-title">

                    </div>
                    <div class="chart-stage" style="height: 580px;">

                    </div>
                    <div class="chart-notes">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--put javascript here-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script type='text/javascript' src="https://cdn.plot.ly/plotly-1.8.0.min.js" charset="utf-8"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/holder.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/evolution.js') }}"></script>
    <script>
        Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/keen.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/meta.js') }}"></script>
{% endblock %}